## Business Insights
1. Which category generates the highest revenue?
2. Which product is the top revenue contributor?
3. Which region appears most profitable?

In [1]:
import pandas as pd

df = pd.read_csv("../data/retail_sales.csv")
df

   order_id  order_date region     product     category  quantity  unit_price
0      1001  2023-01-05  North      Laptop  Electronics         2         750
1      1002  2023-01-07  South      Mobile  Electronics         5         300
2      1003  2023-01-10   East       Chair    Furniture        10          45
3      1004  2023-01-15   West       Table    Furniture         3         120
4      1005  2023-01-20  North  Headphones  Electronics         8          60
5      1006  2023-01-22  South        Sofa    Furniture         1         850
6      1007  2023-01-25   East      Laptop  Electronics         1         750
7      1008  2023-01-28   West      Mobile  Electronics         4         300

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    8 non-null      int64
 1   order_date  8 non-null      object
 2   region      8 non-null      object
 3   product     8 non-null      object
 4   category    8 non-null      object
 5   quantity    8 non-null      int64
 6   unit_price  8 non-null      int64
dtypes: int64(3), object(4)
memory usage: 580.0+ bytes

In [2]:
df["revenue"] = df["quantity"]*df["unit_price"]
df

,order_id,order_date,region,product,category,quantity,unit_price,revenue
0,1001,2023-01-05,North,Laptop,Electronics,2,750,1500
1,1002,2023-01-07,South,Mobile,Electronics,5,300,1500
2,1003,2023-01-10,East,Chair,Furniture,10,45,450
3,1004,2023-01-15,West,Table,Furniture,3,120,360
4,1005,2023-01-20,North,Headphones,Electronics,8,60,480
5,1006,2023-01-22,South,Sofa,Furniture,1,850,850
6,1007,2023-01-25,East,Laptop,Electronics,1,750,750
7,1008,2023-01-28,West,Mobile,Electronics,4,300,1200

In [3]:
df["revenue"].sum()

np.int64(7090)

In [4]:
df.groupby("category")["revenue"].sum()

category
Electronics    5430
Furniture      1660
Name: revenue, dtype: int64

In [5]:
df.groupby("product")["revenue"].sum().sort_values(ascending=False)

product
Mobile        2700
Laptop        2250
Sofa           850
Headphones     480
Chair          450
Table          360
Name: revenue, dtype: int64